nav{
    text-transform: uppercase;
    font-family: serif;
}
header {
    /* hieght and width of the header*/
    height:500px;
    /*this is the cover page*/
    background-image: url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    /*this is the alignment*/
    text-align: center;
    color: white;
}
header p{
    font-style: italic;
}
.services i{
    padding: 20px 20px 20px 20px;
    background-color: #895589;
    color:white;
    font-size: 20px;
    border-radius: 50%;
}
.services{
    text-align: center;
}
.standard{
    border: 1px solid black;
    text-align: center;
    height: 270px;
}
.Standard {
    background: #004070;
    color: white;
    height: 70px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}
.Standard p{
   padding: 20px 0;
}
.price{
    background: grey;
    color: black;
    font-size: 14px;
    height: 50px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    
}
.price p {
    padding: 15px 0;
}
.description{
    height: 100px;
    margin: 30px;
    color: grey;
}
.description p {
    line-height: 5px;
    font-size: 12px;
}

.premium{
    border: 1px solid black;
    text-align: center;
    height: 270px;
}
.Premium {
    background: #605070;
    color: white;
    height: 70px;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}
.Premium p{
   padding: 20px 0;
}

.pricing h3{
    text-align: center;
}
.img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.team h3{
    text-align: center;
}
.contact h3{
    text-align: center;
}
.doc{
    padding-top: 20px;
}
